<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>SCQuorum</title>
</head>
<body>
    <div class="d-flex justify-content-between text-bg-success align-items-center">
        <div class="col-3 align-items-center ms-2">
        <a class="btn btn-primary" href="/library" role="button">Library</a>
        <a class="btn btn-primary" href="/archives" role="button">Archives</a>
            <a class="btn btn-primary" href="/quorum" role="button">Quorum</a>
            <a class="btn btn-primary" href="/friends" role="button">Friends</a>
        </div>
        <div class="col-3 d-flex justify-content-center align-items-center">
            <h1>SCQuorum</h1>
        </div>

        <div class="col-3 d-flex justify-content-end align-items-center">
            {{users.full_name}}
            <a class="btn btn-secondary mx-3" href="/user_logout" role="button">Logout</a>
        </div>
    </div>
    <div class="container text-center">
        <div class="row justify-content-center">
            
            {% block page_content %}{% endblock %}
            
        </div>
    </div>
</body>
</html>