<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <title>SCQuorum</title>
</head>
<body>
    <div class="d-flex justify-content-between text-bg-success align-items-center">
        <div class="col-3 align-items-center ms-2">
            <a class="btn btn-primary" href="/library" role="button">Library</a>
            <a class="btn btn-primary" href="/archives" role="button">Archives</a>
            <a class="btn btn-primary" href="/friends" role="button">Friends</a>
            <a class="btn btn-primary" href="/quorum" role="button">Quorum</a>
        </div>
        <div class="col-3 d-flex justify-content-center align-items-center">
            <h1>SCQuorum</h1>
        </div>

        <div class="col-3 d-flex justify-content-end align-items-center">
            <div class="mx-3">{{users.full_name}}</div>
            <a class="d-flex justify-content-center align-items-center btn btn-success btn-outline-light border border-2 border-white 
                rounded-circle" style="height: 20px; width: 20px" href="/landing_page" role="button">?</a>
            <a class="btn btn-secondary mx-3" href="/user_logout" role="button">Logout</a>
        </div>
    </div>
    <div class="container text-center">
        <div class="row justify-content-center">
            
            {% block page_content %}{% endblock %}
            
        </div>
    </div>
</body>
</html>