{% extends "baselogin.html" %}

{% block page_content %}

        <div class="col">
            <h1>Log in </h1>
            {% with messages = get_flashed_messages(category_filter=["login"]) %}
            {% if messages %}
            {% for message in messages %}
            <p class="text-danger">{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="d-flex justify-content-center">
                <table>
                <form action='/user_login' method='post'>
                    <tbody>
                        <tr>
                            <td><label for='email'>Email:</label></td>
                            <td><input type='text' name='email' value="{{session.email_login}}" required></td>
                        </tr>
                        <tr>
                            <td><label for='password'>Password:</label></td>
                            <td><input type='password' name='password' required></td>
                        </tr>
                        <tr>
                            <td><input type='submit' value='Submit'></td>
                        </tr>
                    </tbody>
                </form>
                </table>
            </div>
            <a href="/registration/">Create an Account</a>
        </div>

{% endblock %}