{% extends "base.html" %}

{% block page_content %}

    <div class="col">
        <h2>Posts</h2>
        {% for post in users.posts.values() %}
        <br>--------------------<br>
        <span>Posted at: {{post.created_at}}</span>
        <span><i>"{{post.excerpt}}"</i></span>
        <span>{{post.thought}}</span>
        <a class="btn btn-warning" href="/retract_post/{{post.id}}" role="button">Retract</a><br><br>
        {% endfor %}
    </div>
    <div class="col">
        <h2>Notes</h2>
        <a class="btn btn-info" href="/new_note" role="button">+new note</a>
        {% for note in users.notes.values() %}
        <br>--------------------<br>
        <span>Drafted at: {{note.created_at}}</span>
        <span>{{note.excerpt}}</span>
        <span>{{note.thought}}</span>
        <a class="btn btn-success" href="/post_note/{{note.id}}" role="button">Post</a><br><br>
        {% endfor %}
    </div>
    <div class="col">
        <h2>Reading List</h2>
        {% for case in users.cases.values() %}
        <br>--------------------<br>
        <h3><a href="/cases/{{case.id}}">{{case.title}}</a></h3>
        <span>Decided: {{case.decision_date}}</span>
        <br>
        {% endfor %}
    </div>

{% endblock %}