{% extends "base.html" %}

{% block page_content %}

        <div class="col">
            <h1>Draft New Note</h1>
            <form action='/save_note' method='post'>
                <label for='excerpt'>Excerpt:</label>
                <input type='text' name='excerpt' value="{{session.excerpt}}" required><br>
                <label for='url'>Link to Opinion:</label>
                <input type='text' name='url' value="{{session.url}}" required><br>
                <label for='thought'>Thought:</label>
                <input type='text' name='thought' value="{{session.thought}}" required><br>
                <input class="btn btn-success" type='submit' value='Save' role="button">
            </form>
        </div>

{% endblock %}