{% extends "base.html" %}

{% block page_content %}

    <div class="col-6">
        <h2 class="mt-3 mb-5">Quorum</h2>
        {% for post in users.posts.values() %}
            {% if not post.time_left %}    
            <div class="text-bg-secondary rounded m-2">
                <h3>{{post.users[0].full_name}}</h3>
                <span>Posted at {{post.created_at}}</span>
                <span>Excerpt: <i>"{{post.excerpt}}"</i></span>
                <span>Thought: {{post.thought}}</span>
            </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}